* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

#wrapper-box {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', Arial;
  padding: 0;
}

img {
  width: 100%;
}

.styled {
  border: 2px solid blue;
}
